body {
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    background: url(images/background.png) repeat-y center;
	background-color: #F0ECD6;
}

.menu {
    margin-left: 50px;
    cursor: pointer;
    border-bottom: 1px dashed;
    font-weight: 700;
}

#menu {
    text-align: center;
    padding: 180px 20px 20px 20px;
}

#menu2 {
    text-align: center;
    padding: 20px;
}


#text_and_translation {
    text-align: justify;
    width: 723px;
    margin-left: auto;
    margin-right: auto;
}


#text {
    text-align: justify;
    width: 723px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

#translation {
    text-align: justify;
    width: 723px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#text_translation_div {
    text-align: justify;
    width: 723px;
    margin-left: auto;
    margin-right: auto;
}

#text_original {
    background-color: #f7ce9e;
}

#text_translation {
    display: none;
    background-color: #f7ce9e;
}

#new{
    margin-left: 0px;
}


#URL_container{
    text-align: center;
}


#URL{
    width: auto;
    height: 190px;
    display:none;
    background-color: white;
    color: #222;
    margin-left: auto;
    margin-right: auto;
}

#URL_adress {
    margin: 5px;
}

.picture {
    cursor: pointer;
    border-bottom: 1px dashed;
}


#picture {
    width: auto;
    height: auto;
/*     display:none; */
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#picture_container {
    width: auto;
    height: auto;
    display:none;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#translation_div {
    width: auto;
    height: 20px;
    text-align: center;
    font-weight: 900;
    margin: 5px;
}

#test_div{
    display: none;
    z-index: 4;
    background-color: #00000A;
    opacity: 0.6;
    position: absolute;
    top: 0;;
    left: 0;
    height: 100%;
    width: 100%;
}

#test_image{
    margin-left: 60px;
    margin-right: 60px;
}

#answer{
    margin: 5px;
}

figcaption {
    font-weight: 900;
    /* font-size: 20px; */
    font-size: 50px;
}